
section h4 {
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 0;
}

#overall{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    text-align: center;
    padding: 40px 25px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
    margin-bottom: 40px;
}

#overall ul {
    text-align: left;
}

#overall li {
    margin-top: 15px;
}

#warnings {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

#warnings h4 {
    text-align: center;
}

 #warnings table {
     width: 100%;
     background-color: #FFFFFF;
     border-collapse: collapse;
     border-width: 2px;
     border-color: #a89132;
     border-style: solid;
     color: #000000;
     border-radius: 5px;
 }

#warnings table td, #warnings table th {
    border-width: 2px;
    border-color: #a89132;
    border-style: solid;
    padding: 5px;
}

#warnings table thead {
    background-color: #a89132;
}

section {
    margin-top: 40px;
}