
#navigationBar {
    margin-top: 3px;
}

#navigationBar ul {
    list-style-type: none;
    font-weight: bold;
    font-size: 22px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navigationBar li {
    float: left;
    border-right: 2px solid white;
}


#navigationBar li:last-child {
    border-right: none;
    float: right;
    border-left: 2px solid white;
}

#navigationBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 3px;
}

#navigationBar li a:hover {
    background-color: rgba(0,0,0,0.5);
    font-size: 22px;
}

.active {
    background-color: rgba(0,0,0,0.2);
}